
<div class="main_header">
  <div class="header_left">
    <div class="room_name">
      hoge
    </div>
  </div>
  <div class="room_end">
    <div class="header_right">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="main_body">


  <div class="comment_room">
    <div class="name_date">
      <div class="comment_name">
      Tom
      </div>
       <div class="comment_date">
      2020年
      </div>
    </div>
    <div class="comment_text">
    おはよう
    </div>
  </div>

  <div class="comment_room">
    <div class="name_date">
      <div class="comment_name">
      Tom
      </div>
       <div class="comment_date">
      2020年
      </div>
    </div>
    <div class="comment_text">
    おはよう
    </div>
  </div>

</div>

<div class="main_footer">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden" >
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>
