<div class="side_header">
  <div class="side_header_left">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="side_header_right">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side_body">
  <div class="chat_room">
  techroom1
  </div>
  <div class="chat_room">
  techroom2
  </div>
</div>